# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Environment variables
.env

# Google credentials (КРИТИЧНО)
credentials/
*.json

# CSV data (если не хочешь пушить данные)
*.csv

# OS
.DS_Store
Thumbs.db